
@media only screen and (min-width : 601px){
    
    html {
        scroll-behavior: smooth;
    }

    body{
        &::-webkit-scrollbar {
            display: none;
        }
        position: relative;
        width: 100vw;
        justify-content: space-around;
        color: #2b3539;
        display: grid;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        .bg{
            background-image: url('./steve-douglas-V2-lXJlcPbw-unsplash.jpg');
            background-size: contain;
            height: 100%; 
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            z-index: -10;
            position: absolute;
        }
        
        .container{
            box-shadow: 
                        12px 12px 16px 0 rgba(0, 0, 0, 0.25),
                        -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
            z-index: 1;
            top: 0px;
            // position: relative;  
            border: 1px solid lightgray;
            margin: 50px;
            overflow: hidden;
            max-width: 1200px;
            min-width: 1000px;
            display: flex;
            flex-direction: column;
            backdrop-filter: blur(30px);
            background-color: rgba(224, 225, 251, 0.5   );
            border-radius:30px;
            .headingM{
                display: none;
            }
            .heading{
                width: 100%;
                overflow: hidden;
                display: flex;  
                flex-direction: row;
                img{
                    max-height: 210px;
                    display: block;
                    margin: 30px;
                    border-radius: 10px;
                }
                .basicInfo{
                    flex: 1;
                    h1{
                        width: 100%;
                        font-weight: normal;
                        font-size: 60px;
                        text-align: center;
                        // display: flex;
                        text-align: center;
                        width: 100%;
                        vertical-align: middle;
                    }
                    p, h3{
                        width: 100%;
                        font-weight: normal;
                        // font-size: 60px;
                        text-align: center;
                        // display: flex;
                        text-align: center;
                        width: 100%;
                        vertical-align: middle;
                    }
                    h3{
                        font-weight: bold;
                    }

                }
            }
            .content{
                display: flex;
                
                .head{
                    
                    margin-bottom: 50px;
                    a.stack{
                        &:first-child{
                            border-radius: 0 10px 0 0;
                            border : 1px solid lightgray;
                            
                        }
                        &:last-child{
                            border-radius: 0 0 10px 0;
                            border-bottom : 1px solid lightgray;
                            
                        }
                        backdrop-filter: blur(60px);
                        display: block;
                        text-decoration: none;
                        color: #171d1f;
                        border-right : 1px solid lightgray;
                        border-bottom : 1px solid lightgray;
                        line-height: 50px;
                        font-size: large;
                        font-weight: bold;
                        padding: 0 40px;
                    }
                    a.selected{
                        background-color: rgba(224, 225, 251, 0.5   );
                    }
                }
                .info{
                    
                    max-height: 1000px;
                    border-radius: 10px;
                    overflow: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    flex : 1;
                    margin : 0 30px;
                    padding: 5px;
                    backdrop-filter: blur(60px);
                    background-color: rgba(224, 225, 251, 0.1 );
                    margin-bottom: 30px;
                    border : 1px solid rgb(255, 255, 255);
                    .description{
                        a{
                            text-decoration: none;
                            &:visited{
                                color: darkblue;
                            }
                        }
                        background-color: rgba(223, 223, 223, 0.5);
                        border-radius: 10px;
                        overflow: hidden;
                        border : 1px solid rgb(255, 255, 255);
                        margin-bottom: 10px;
                        h2{
                            background: rgb(255,255,255);
                            background: linear-gradient(90deg, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 27%, rgba(255,255,255,0) 53%);
                            display: block;
                            margin: 0;
                            padding: 10px 20px;
                        }
                        p, h3{
                            padding-left: 20px;
                            line-height: 30px;
                            
                        }
                        .item{
                            display: flex;
                            label{
                                padding-left: 20px;
                                line-height: 30px;
                                min-width: 150px;
                            }
                            p{
                                margin: 0;
                                padding-left: 10px;
                            }
                            a{
                                flex-direction: row;
                                color: rgb(27, 27, 27);
                                line-height: 30px;
                                padding-left: 10px;
                                i{
                                    margin-right: 10px;
                                }
                                i.fa-phone-square{
                                    
                                    color: rgb(108, 211, 5);
                                    display: inline-flex;
                                }
                            }
                        
                        }
                    }
                    .skill{
                        .bar{
                            // height: 20px;
                            width: 50%;
                            border-radius: 10px;
                            background-color: rgba(224, 225, 251, 1  );
                            .value-5{
                                height: 100%;
                                width: 100%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-4{
                                height: 100%;
                                width: 80%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-3{
                                height: 100%;
                                width: 66%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-25{
                                height: 100%;
                                width: 50%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-2{
                                height: 100%;
                                width: 40%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-1{
                                height: 100%;
                                width: 20%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-05{
                                height: 100%;
                                width: 10%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-75{
                                height: 100%;
                                width: 75%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }



}

@media only screen and (max-width : 600px){
    html {
        scroll-behavior: smooth;
    }
    body{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        // padding: 10px;
        .bg{
            background-image: none;
        }
        .container{
            .headingM{
                // background-color: rgba(248, 210, 216, 0.5);
                backdrop-filter: blur(30px);
                position: sticky;
                top: 0px;
                padding: 0 10px;
                a  {
                    line-height: 40px;
                    text-decoration: none;
                    color: rgb(22, 29, 36);
                    font-size: 30px;
                    font-weight: bold;
                    margin: 0;
                }
            }
            .heading{
                padding:0 10px 10px 10px;
                display: flex;
                flex-direction: column-reverse;
                img{
                    margin: 30px 100px;
                    flex: 1;
                    border-radius: 10px;
                }
                .basicInfo{
                    h1{
                        display: None;
                    }
                }
            }
            .content{
                padding: 10px;
                .head{
                    a.stack{
                        margin: 3px;
                        line-height: 30px;
                        padding: 5px;
                        display: inline-block;
                        width: auto;
                        text-decoration: none;
                        border: 2px solid rgb(153, 153, 255) ;
                        color: rgb(153, 153, 255);
                        border-radius: 14px;
                    }
                }
                .info{
                    margin-top: 20px;
                    .description{
                        box-shadow: 
                            12px 12px 16px 0 rgba(0, 0, 0, 0.25),
                            -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
                        border-radius: 10px;
                        padding-top: 20px;
                        border: 2px solid darkgray;
                        margin-bottom: 10px;
                        h3{
                            padding-left: 10px;
                        }
                        h2{
                            padding-top: 40px;
                            color: rgb(28, 28, 58);
                            padding: 5px;
                            border-bottom: 2px solid darkgray;
                        }
                        p{
                            padding: 10px;
                        }
                        background-color: rgb(225, 225, 246);
                        .item{
                            margin-left: 20px;
                            a, p{
                                text-decoration: none;
                                flex-direction: row;
                                color: rgb(27, 27, 27);
                                line-height: 30px;
                                padding-left: 10px;
                                i{
                                    margin-right: 10px;
                                }
                                i.fa-phone-square{
                                    
                                    color: rgb(108, 211, 5);
                                    display: inline-flex;
                                }
                            }
                            label{
                                display: inline-flex;
                                min-width: 50px;
                            }
                        }
                    }
                    .skill{
                        .bar{
                            // height: 20px;
                            width: 90%;
                            border-radius: 10px;
                            background-color: rgb(251, 252, 255);
                            .value-5{
                                height: 100%;
                                width: 100%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-4{
                                height: 100%;
                                width: 80%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-3{
                                height: 100%;
                                width: 66%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-25{
                                height: 100%;
                                width: 50%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-2{
                                height: 100%;
                                width: 40%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-1{
                                height: 100%;
                                width: 20%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-05{
                                height: 100%;
                                width: 10%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                            .value-75{
                                height: 100%;
                                width: 75%;
                                background-color: rgb(141, 144, 251);
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}